@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* WebKit Browsers (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #a7f3d0; /* Light Green */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #065f46; /* Dark Green */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #047857; /* Slightly lighter dark green */
}

/* Firefox Support */
.custom-scrollbar {
  scrollbar-width: thin; /* Makes scrollbar thinner */
  scrollbar-color: #065f46 #a7f3d0; /* thumb color | track color */
}

@media (max-width: 768px) {  /* Below md screen */
  .sticky-col {
      position: sticky;
      left: 0;
      background: #065f46; /* Ensure background doesn't overlap */
      z-index: 10; /* Keep it above other columns */
  }
}

.calci{
  min-height: calc(100vh - 286px)
}